<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Ameridata | Lojinha Java</title>

	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/ameridata.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/application.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/lojinha.css}" />
	
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-datepicker.standalone.min.css}" />

	<link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}" />
</head>

<body>

	<div class="aw-layout-page">

		<div th:replace="layout/fragments/BarraNavegacao :: layout-navbar"></div>

		<div th:replace="layout/fragments/MenuLateral :: layout-sidebar"></div>

		<section class="aw-layout-content  js-content" layout:fragment="conteudo">

		</section>

		<div th:replace="layout/fragments/Rodape :: layout-footer"></div>

	</div>

	<script th:src="@{/layout/javascripts/vendors.min.js}"></script>
	<script th:src="@{/layout/javascripts/ameridata.min.js}"></script>
	
	<script th:src="@{/javascripts/vendors/jquery.maskMoney.min.js}"></script>
	<script th:src="@{/javascripts/vendors/jquery.mask.min.js}"></script>
	
	<script th:src="@{/javascripts/vendors/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{/javascripts/vendors/bootstrap-datepicker.pt-BR.min.js}"></script>
	
	<script th:src="@{/javascripts/lojinha.js}"></script>

	<th:block layout:fragment="javascript-extra"></th:block> 
</body>

</html>