/*  
* UTILS 
*/

.lj-glyphicon-large {
    font-size: 18px;
}

.lj-required > .control-label:after {
	content: "*"
}

/* 
* COMPONENTES
*/

/* Field Action */

.lj-field-action {
    display: flex;
}

.lj-field-action__icon {
    margin: 6px 0 0 5px;
}

/* Upload - UiKit */

.lj-upload {
	padding: 15px;
	
	border: 1px dashed #ddd;
	border-radius: 4px;
	background: #fafafa;
	
	text-align: center;
}

.lj-upload-form-file {
	display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;
}

.lj-upload-form-file > input[type=file] {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    
    font-size: 500px;
}

/* Tabela Simples */

.lj-tabela-simples {
	margin-top: 15px;
}

.lj-tabela-simples table tr th {
	border-bottom-width: 1px;
}

.lj-tabela-simples table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 10px;
    vertical-align: middle;
}

/*
###################
# PÁGINAS DO SISTEMA
###################
*/

/* Colunas - Pesquisa de Produtos */

.table-produtos-col-foto {
	min-width: 50px;
	/* width: 50px */
	width: 100px
}

.table-produtos-col-sku {
/* 	width: 90px;
	text-align: center; */
}

.table-produtos-col-gtin {
	
}

.table-produtos-col-nome {
	
}

.table-produtos-col-fabricante {
	
}

.table-produtos-col-fornecedor {
	
}

.table-produtos-col-unidade {
	/* width: 120px; */
}

.table-produtos-col-origem {
	/* width: 100px; */
}

.table-produtos-col-custoUnitario {
	width: 100px;
	text-align: right;
}

.table-produtos-col-precoVenda {
	width: 100px;
	text-align: right;
}

.table-produtos-col-comissao {
	width: 100px;
	text-align: right;
}

.table-produtos-col-estoque {
	width: 100px;
	text-align: right;
}

.table-produtos-col-acoes {
	width: 80px;
}

/* Colunas - Pesquisa de Clientes */
.table-clientes-col-nome {
	
}

.table-clientes-col-tipo-pessoa {
	width: 120px;
	text-align: left;
}

.table-clientes-col-cpf-cnpj {
	width: 140px;
	text-align: left;
}

.table-clientes-col-telefone {
	width: 140px;
	text-align: left;
}

.table-clientes-col-cidade-estado {
	width: 240px;
	text-align: left;
}

.table-clientes-col-acoes {
	width: 80px;
}

/*
######################################
# CUSTOMIZAÇÃO DE COMPONENTES
######################################
*/

.checkbox input[type="checkbox"]:checked + input + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; 
}
 