<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="~{layout/LayoutPadrao}">

<head>
	<title>Cadastro de cliente</title>
</head>

<body>

	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>Cadastro de cliente</h1>
					</div>

					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn  btn-default" th:href="@{/clientes}">
								<i class="glyphicon  glyphicon-filter"></i>
								<span class="hidden-xs  hidden-sm">Pesquisar</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">

			<th:block th:include="fragments/MensagemSucesso"></th:block>

			<form method="POST" th:object="${cliente}" class="form-vertical  js-form-loading" th:action="@{/clientes/novo}">

				<th:block th:include="fragments/MensagensErroValidacao"></th:block>

				<div class="row">
					<div class="col-sm-9">
						<div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
							<label for="nome" class="control-label">Nome*</label>
							<input id="nome" type="text" class="form-control" th:field="*{nome}" autofocus="autofocus" />
						</div>
					</div>
					
					<!-- ############################## -->
					<!-- <div class="form-group  col-sm-3">
						<label class="control-label">Status</label> 
						<div>
							<input type="checkbox" class="js-status" data-size="small" data-off-color="danger" 
								data-on-text="Ativo" data-off-text="Inativo" th:field="*{ativo}"/>
						</div>
					</div>		 -->
					<!-- ############################## -->
				</div>

				<div class="row">
					<div class="form-group  col-lg-4  col-sm-6" th:classappend="${#fields.hasErrors('tipoPessoa')} ? has-error">
						<label for="tipoPessoa" class="control-label">Tipo pessoa*</label>
						<div>
							<th:block th:each="tipoPessoa : ${tiposPessoa}">
								<div class="radio  radio-inline">
									<input type="radio" th:id="|id_${tipoPessoa}|" class="js-radio-tipo-pessoa" 
										name="tipoPessoa" data:documento="${tipoPessoa.documento}" data:mascara="${tipoPessoa.mascara}"
										th:value="${tipoPessoa}" th:field="*{tipoPessoa}"> 
									<label class="control-label" th:for="|id_${tipoPessoa}|" th:text="${tipoPessoa.descricao}">Física</label>
								</div> 
							</th:block>
						</div>
					</div>
					
					<div class="col-sm-8">
						<div class="form-group  lj-required" th:classappend="${#fields.hasErrors('documento')} ? has-error">
							<label for="documento" class="control-label">CPF/CNPJ</label>
							<input id="documento" type="text" class="form-control" th:field="*{documento}" disabled />
						</div>
					</div>			
				</div>
				
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group" th:classappend="${#fields.hasErrors('telefone')} ? has-error">
							<label for="telefone" class="control-label">Telefone</label> 
							<input id="telefone" type="text" class="form-control  js-phone-number" th:field="*{telefone}" />
						</div>
					</div>				

					<div class="col-sm-8">
						<div class="form-group" th:classappend="${#fields.hasErrors('email')} ? has-error">
							<label for="email" class="control-label">Email</label>
							<input id="email" type="text" class="form-control" th:field="*{email}" />
						</div>
					</div>				
				</div>

				<div class="row">
					<div class="col-sm-4">
						<div class="form-group" th:classappend="${#fields.hasErrors('logradouro')} ? has-error">
							<label for="logradouro" class="control-label">Logradouro</label>
							<input id="logradouro" type="text" class="form-control" th:field="*{logradouro}" />
						</div>
					</div>				

					<div class="col-sm-4">
						<div class="form-group" th:classappend="${#fields.hasErrors('numero')} ? has-error">
							<label for="numero" class="control-label">Número</label>
							<input id="numero" type="text" class="form-control" th:field="*{numero}" />
						</div>
					</div>

					<div class="col-sm-4">
						<div class="form-group" th:classappend="${#fields.hasErrors('complemento')} ? has-error">
							<label for="complemento" class="control-label">Complemento</label>
							<input id="complemento" type="text" class="form-control" th:field="*{complemento}" />
						</div>
					</div>				
				</div>

				<div class="row">
					<div class="col-sm-4">
						<div class="form-group" th:classappend="${#fields.hasErrors('cep')} ? has-error">
							<label for="cep" class="control-label">CEP</label>
							<input id="cep" type="text" class="form-control" th:field="*{cep}" />
						</div>
					</div>
					
					
<!-- 					<div class="col-sm-4  form-group" th:classappend="${#fields.hasErrors('estado')} ? has-error">
						<label for="estado" class="control-label">Estado</label>
						<div class="lj-field-action">
							<select id="estado" class="form-control" th:field=*{estado}>
								<option value="">Selecione o estado</option>
								<option th:each="estado : ${estados}" th:value="${estado.id}"
									th:text="${estado.nome}"></option>
							</select>
						</div>
					</div> -->
					
					<div class="form-group  col-sm-4" th:classappend="${#fields.hasErrors('estado')} ? has-error">
						<label for="estado" class="control-label">Estado</label>
						<div class="lj-field-action">
							<select id="estado" class="form-control" th:field=*{estado}>
			                    <option value="">Selecione o estado</option>
			                    <option th:each="estado : ${estados}" th:value="${estado.id}" 
			                    	th:text="${estado.nome}"></option>
			                </select>
		                </div>
					</div>

<!-- 					<div class="col-sm-4  form-group" th:classappend="${#fields.hasErrors('cidade')} ? has-error">
						<label for="cidade" class="control-label">Cidade</label>
						<div class="lj-field-action">
							<select id="cidade" class="form-control" th:field=*{cidade}>
								<option value="">Selecione a cidade</option>
								<option th:each="cidade : ${cidades}" th:value="${cidade.id}"
									th:text="${cidade.nome}"></option>
							</select>
						</div>
					</div> -->
					
					<div class="form-group  col-sm-4" th:classappend="${#fields.hasErrors('cidade')} ? has-error">
						<label for="cidade" class="control-label">Cidade</label>
						<div class="lj-field-action">
							<input type="hidden" id="codigoCidadeSelecionada" th:value="*{cidade} != null ? *{cidade.id}" />
							<select id="cidade" class="form-control" data:url="@{/cidades}" th:field="*{cidade}"></select>
							
							<div class="lj-field-action__icon  js-img-loading" style="display: none">
								<img th:src="@{/images/mini-loading.gif}"/>
							</div>
						</div>
					</div>
				</div>
 				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>				
				</div>

			</form>
		</div>

	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/pessoa.mascara-cpf-cnpj.js}"></script>
		<script th:src="@{/javascripts/pessoa.combo-estado-cidade.js}"></script>
	</th:block>

</body>

</html>