<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:lojinha="http://lojinha.ameridata.com.br">

<body>
    <aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
        <div class="aw-layout-sidebar__content">

            <nav class="aw-menu  js-menu">
                <ul class="aw-menu__list">

                    <li class="aw-menu__item">
                        <a href="dashboard.html"><i class="fa  fa-fw  fa-home"></i><span>Dashboard</span></a>
                    </li>

                    <li class="aw-menu__item">
                        <a href="#">
                            <i class="fa  fa-fw  fa-truck"></i><span>Estoque</span>
                            <i class="aw-menu__navigation-icon  fa"></i>
                        </a>

                        <ul class="aw-menu__list  aw-menu__list--sublist">
                            <li class="aw-menu__item  aw-menu__item--link" lojinha:menu="@{/produtos}">
                                <a th:href="@{/produtos/novo}">Produtos</a>
                            </li>
                            <li class="aw-menu__item  aw-menu__item--link" lojinha:menu="@{/fabricantes}">
                                <a th:href="@{/fabricantes/novo}">Fabricantes</a>
                            </li>
                            <li class="aw-menu__item  aw-menu__item--link" lojinha:menu="@{/fornecedores}">
                                <a th:href="@{/fornecedores/novo}">Fornecedores</a>
                            </li>
                        </ul>
                    </li>

                    <li class="aw-menu__item">
                        <a href="#">
                            <i class="fa  fa-fw  fa-database"></i><span>Cadastros</span>
                            <i class="aw-menu__navigation-icon  fa"></i>
                        </a>

                        <ul class="aw-menu__list  aw-menu__list--sublist">
                            <li class="aw-menu__item  aw-menu__item--link" lojinha:menu="@{/usuarios}">
                                <a th:href="@{/usuarios/novo}">Usuários</a>
                            </li>
                            <li class="aw-menu__item  aw-menu__item--link" lojinha:menu="@{/clientes}">
                                <a th:href="@{/clientes/novo}">Clientes</a>
                            </li>
                            <li class="aw-menu__item  aw-menu__item--link" lojinha:menu="@{/cidades}">
                                <a th:href="@{/cidades/novo}">Cidades</a>
                            </li>
                            <li class="aw-menu__item  aw-menu__item--link" lojinha:menu="@{/estados}">
                                <a th:href="@{/estados/novo}">Estados</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
    </aside>
</body>

</html>