<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Ameridata | Lojinha Java</title>

	<link rel="stylesheet" type="text/css" href="/lojinha/layout/stylesheets/vendors.min.css" />
	<link rel="stylesheet" type="text/css" href="/lojinha/layout/stylesheets/ameridata.min.css" />
	<link rel="stylesheet" type="text/css" href="/lojinha/layout/stylesheets/application.css" />
</head>

<body>

	<!-- <div class="aw-layout-loading  js-loading-overlay">
		<div class="aw-layout-loading__container">
			<span class="aw-balls-spinner">Carregando...</span>
		</div>
	</div> -->

	<div class="aw-layout-page">

		<nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar">
			<div class="container-fluid">

				<div class="navbar-header">
					<a class="navbar-brand  hidden-xs" href="#">
						<img alt="Ameridata" src="/lojinha/layout/images/logo.png" />
					</a>

					<ul class="nav  navbar-nav">
						<li>
							<a href="#" class="js-sidebar-toggle"><i class="fa  fa-bars"></i></a>
						</li>
					</ul>
				</div>

				<ul class="nav navbar-nav  navbar-right">

					<li>
						<a href="#" class="js-search-modal-trigger-show"><i class="fa  fa-search"></i></a>
					</li>

					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
							<i class="fa  fa-envelope"></i> <span class="label  label-danger  aw-label-corner">48</span>
						</a>

						<ul class="dropdown-menu">
							<li><a href="javascript:;">Item 1</a></li>
							<li><a href="javascript:;">Item 2</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">
							<i class="fa  fa-user"></i>
						</a>

						<ul class="dropdown-menu">
							<li>
								<div class="aw-logged-user">
									<img src="https://api.adorable.io/avatars/80/joaodascouves" width="80" height="80"
										alt="João das Couves" class="aw-logged-user__picture" />
									<span class="aw-logged-user__name">João das Couves</span>
								</div>
							</li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Meu perfil</a></li>
							<li><a href="#">Alterar senha</a></li>
							<li><a href="#">Pagamentos</a></li>
						</ul>
					</li>

					<li>
						<a href="#"><em class="fa  fa-sign-out"></em></a>
					</li>
				</ul>

			</div>
		</nav>

		<aside class="aw-layout-sidebar  js-sidebar">
			<div class="aw-layout-sidebar__content">

				<nav class="aw-menu  js-menu">
					<ul class="aw-menu__list">

						<li class="aw-menu__item">
							<a href="dashboard.html"><i class="fa  fa-fw  fa-home"></i><span>Dashboard</span></a>
						</li>

						<li class="aw-menu__item  is-active">
							<a href="#">
								<!-- <i class="fa  fa-fw  fa-file-text"></i> -->
								<i class="fa fa-database" aria-hidden="true"></i>
								<span>Gestão de Estoque</span>
								<i class="aw-menu__navigation-icon  fa"></i>
							</a>

							<ul class="aw-menu__list  aw-menu__list--sublist">
								<li class="aw-menu__item  aw-menu__item--link is-active">
									<a href="cadastro-produto.html">Produtos</a></li>
								<li class="aw-menu__item  aw-menu__item--link">
									<a href="pesquisa-produtos.html">Fabricantes</a></li>
								<li class="aw-menu__item  aw-menu__item--link">
									<a href="tabela-sem-dados.html">Fornecedores</a></li>
								<li class="aw-menu__item  aw-menu__item--link">
									<a href="tabela-sem-dados.html">Unidades</a></li>
								<!-- <li class="aw-menu__item  aw-menu__item--link">
									<a href="tabela-sem-dados.html">Origens</a></li> -->
							</ul>
						</li>

						<li class="aw-menu__item  is-expanded">
							<a href="#">
								<!-- <i class="fa  fa-fw  fa-file-text"></i> -->
								<i class="fa fa-briefcase" aria-hidden="true"></i>
								<span>Cadastros</span>
								<i class="aw-menu__navigation-icon  fa"></i>
							</a>

							<ul class="aw-menu__list  aw-menu__list--sublist">
									<li class="aw-menu__item  aw-menu__item--link"><a href="pagina-vazia.html">Estados</a></li>
								<li class="aw-menu__item  aw-menu__item--link"><a href="pagina-vazia.html">Cidades</a></li>
								<li class="aw-menu__item  aw-menu__item--link"><a href="login.html">Clientes</a></li>
								<li class="aw-menu__item  aw-menu__item--link"><a href="esqueceu-a-senha.html">Usuários</a></li>
								<li class="aw-menu__item  aw-menu__item--link"><a href="403.html">403</a></li>
								<li class="aw-menu__item  aw-menu__item--link"><a href="404.html">404</a></li>
								<li class="aw-menu__item  aw-menu__item--link"><a href="500.html">500</a></li> 
							</ul>
						</li>

					</ul>
				</nav>

			</div>
		</aside>

		<section class="aw-layout-content  js-content">


			<div class="page-header">
				<div class="container-fluid">
					<h1>
						Cadastro de produto
					</h1>
				</div>
			</div>

			<div class="container-fluid">

				<!-- <div class="alert  alert-danger  alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<i class="fa  fa-exclamation-circle"></i> Já existe um produto com o nome informado.
				</div> -->

				<form method="get" class="form-vertical  js-form-loading">

					<div class="row">
						<div class="col-sm-2">
							<div class="form-group">
								<label for="sku">SKU*</label>
								<input id="sku" type="text" class="form-control" />
							</div>
						</div>

						<div class="col-sm-3">
							<div class="form-group">
								<label for="codigoBarras">Código de barras</label>
								<input id="codigoBarras" type="text" class="form-control" />
							</div>
						</div>

						<div class="col-sm-7">
							<div class="form-group">
								<label for="nome">Nome*</label>
								<input id="nome" type="text" class="form-control" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="descricao">Descrição*</label>
						<textarea id="descricao" rows="3" class="form-control"></textarea>
					</div>

					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label for="fabricante">Fabricante*</label>
								<select id="fabricante" class="form-control">
									<option value="">Selecione o fabricante</option>
								</select>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="form-group">
								<label for="fornecedor">Fornecedor*</label>
								<select id="fornecedor" class="form-control">
									<option value="">Selecione o fornecedor</option>
								</select>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="form-group">
								<label for="unidade">Unidade*</label>
								<select id="unidade" class="form-control">
									<option value="">Selecione a unidade</option>
								</select>
							</div>
						</div>

						<div class="col-lg-3  col-sm-6">
							<div class="form-group">
								<label for="origem">Origem*</label>
								<div>
									<div class="radio  radio-inline">
										<input type="radio" name="origem">
										<label>Nacional</label>
									</div>
									<div class="radio  radio-inline">
										<input type="radio" name="origem">
										<label>Internacional</label>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label for="custoUnitario">Custo unitário*</label>
								<div class="input-group">
									<div class="input-group-addon">R$</div>
									<input id="custoUnitario" type="text" class="form-control" />
								</div>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="form-group">
								<label for="precoVenda">Preço de venda*</label>
								<div class="input-group">
									<div class="input-group-addon">R$</div>
									<input id="precoVenda" type="text" class="form-control" />
								</div>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="form-group">
								<label for="comissao">Comissão*</label>
								<div class="input-group">
									<input id="comissao" type="text" class="form-control" />
									<div class="input-group-addon">%</div>
								</div>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="form-group">
								<label for="estoque">Estoque*</label>
								<input id="estoque" type="text" class="form-control"
									placeholder="Quantidade em estoque" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<button class="btn  btn-primary" type="submit">Salvar</button>
						<!-- <a href="pesquisa-produtos.html" class="btn  btn-default">Cancelar</a> -->
						<!-- <a href="#" class="btn  btn-link  aw-btn-link-danger" onclick="excluir()">Excluir este produto</a> -->
					</div>

				</form>
			</div>

			<script>
				function excluir() {
					swal({
						title: "Tem certeza?",
						text: "Você não poderá recuperar o produto após a exclusão.",
						type: "warning",
						showCancelButton: true,
						confirmButtonColor: "#DD6B55",
						confirmButtonText: "Sim, exclua agora!",
						closeOnConfirm: false,
						showLoaderOnConfirm: true
					}, function () {
						setTimeout(function () {
							swal("Excluído!", "O produto foi excluído com sucesso.", "success");
						}, 2000);
					});
				}
			</script>

		</section>

		<footer class="aw-layout-footer  js-content">
			<div class="container-fluid">
				<span class="aw-footer-disclaimer">&copy; 2019 Ameridata. Todos os direitos reservados. Desenvolvido por
					Paulo R. Batalhão</span>
			</div>
		</footer>

	</div>

	<div class="aw-search-modal  js-search-modal">
		<form action="#" class="aw-search-modal__form">
			<input class="aw-search-modal__input  js-search-modal-input" type="text"
				placeholder="O que você está procurando?" />
			<div class="aw-search-modal__input-icon">
				<i class="glyphicon  glyphicon-search  js-search-modal-go"></i>
			</div>
		</form>

		<div class="aw-search-modal__controls">
			<i class="glyphicon glyphicon-remove  js-search-modal-close"></i>
		</div>
	</div>

	<script src="/lojinha/layout/javascripts/vendors.min.js"></script>
	<script src="/lojinha/layout/javascripts/ameridata.min.js"></script>

</body>

</html>