<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/LayoutPadrao"
	xmlns:lojinha="http://lojinha.ameridata.com.br/">

<head>
	<title>Cadastro de produto</title>

	<link rel="stylesheet" th:href="@{/stylesheets/vendors/upload.min.css}">
</head>

<body>

	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>Cadastro de produto</h1>
					</div>

					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn  btn-default" th:href="@{/produtos}">
								<i class="glyphicon  glyphicon-filter"></i>
								<span class="hidden-xs  hidden-sm">Pesquisar</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">

			<!-- <th:block th:include="fragments/MensagemSucesso"></th:block> -->

			<!-- <form method="POST" th:object="${produto}" class="form-vertical  js-form-loading"> -->
			
			<form method="POST" th:object="${produto}" th:action="@{/produtos/novo}" class="form-vertical  js-form-loading">

				<!-- <th:block th:include="fragments/MensagensErroValidacao"></th:block> -->

				<lojinha:message />

				<div class="row">
					<div class="col-sm-2">
						<div class="form-group  lj-required" lojinha:classforerror="sku">
							<label for="sku" class="control-label">SKU</label>
							<input id="sku" type="text" class="form-control" th:field="*{sku}" />
						</div>
					</div>

					<div class="col-sm-3">
						<div class="form-group">
							<label for="gtin">GTIN</label>
							<input id="gtin" type="text" class="form-control" th:field="*{gtin}" />
						</div>
					</div>

					<div class="col-sm-7">
						<div class="form-group  lj-required" th:classappend="${#fields.hasErrors('nome')} ? has-error">
							<label for="nome" class="control-label">Nome</label>
							<input id="nome" type="text" class="form-control" th:field="*{nome}" />
						</div>
					</div>
				</div>

				<div class="form-group  lj-required" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
					<label for="descricao" class="control-label">Descrição</label>
					<textarea id="descricao" rows="3" class="form-control" th:field="*{descricao}"></textarea>
				</div>

				<div class="row">
					<div class="col-sm-3  form-group  lj-required" th:classappend="${#fields.hasErrors('fabricante')} ? has-error">
						<label for="fabricante" class="control-label">Fabricante</label>
						<div class="lj-field-action">
							<select id="fabricante" class="form-control" th:field=*{fabricante}>
								<option value="">Selecione o fabricante</option>
								<option th:each="fabricante : ${fabricantes}" th:value="${fabricante.id}"
									th:text="${fabricante.nome}"></option>
							</select>

							<div class="lj-field-action__icon">
								<a href="#" data-toggle="modal" data-target="#modalCadastroRapidoFabricante">
									<i class="glyphicon  glyphicon-plus-sign  lj-glyphicon-large"></i>
								</a>
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="form-group  lj-required"  th:classappend="${#fields.hasErrors('fornecedor')} ? has-error">
							<label for="fornecedor" class="control-label">Fornecedor</label>
							<div class="lj-field-action">
								<select id="fornecedor" class="form-control" th:field=*{fornecedor}>
									<option value="">Selecione o fornecedor</option>
									<option th:each="fornecedor : ${fornecedores}" th:value="${fornecedor.id}"
										th:text="${fornecedor.nome}"></option>
								</select>
								
								<!-- <div class="lj-field-action__icon">
									<a href="#" data-toggle="modal" data-target="#modalCadastroRapidoFornecedor">
										<i class="glyphicon  glyphicon-plus-sign  lj-glyphicon-large"></i>
									</a>
								</div> -->
							</div>
						</div>						
					</div>

					<div class="col-sm-3">
						<div class="form-group  lj-required"  th:classappend="${#fields.hasErrors('unidade')} ? has-error">
							<label for="unidade" class="control-label">Unidade</label>
							<select id="unidade" class="form-control" th:field="*{unidade}">
								<option value="">Selecione a unidade</option>
								<option th:each="unidade : ${unidades}" th:value="${unidade}"
									th:text="${unidade.descricao}"></option>
							</select>
						</div>
					</div>

					<div class="col-lg-3  col-sm-6">
						<div class="form-group  lj-required" th:classappend="${#fields.hasErrors('origem')} ? has-error">
							<label for="origem" class="control-label">Origem</label>
							<div>
								<th:block th:each="origem : ${origens}">
									<div class="radio  radio-inline">
										<input th:id="|id_${origem}|" type="radio" th:value="${origem}"
											th:field="*{origem}">
										<label th:for="|id_${origem}|" th:text="${origem.descricao}">Nacional</label>
									</div>
								</th:block>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<div class="form-group  lj-required" th:classappend="${#fields.hasErrors('custoUnitario')} ? has-error">
							<label for="custoUnitario" class="control-label">Custo unitário</label>
							<div class="input-group">
								<div class="input-group-addon">R$</div>
								<input id="custoUnitario" type="text" class="form-control  js-decimal"
									th:field="*{custoUnitario}" />
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="form-group  lj-required" th:classappend="${#fields.hasErrors('precoVenda')} ? has-error">
							<label for="precoVenda" class="control-label">Preço de venda</label>
							<div class="input-group">
								<div class="input-group-addon">R$</div>
								<input id="precoVenda" type="text" class="form-control  js-decimal"
									th:field="*{precoVenda}" />
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="form-group">
							<label for="comissao">Comissão</label>
							<div class="input-group">
								<input id="comissao" type="text" class="form-control  js-decimal"
									th:field="*{comissao}" />
								<div class="input-group-addon">%</div>
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="form-group">
							<label for="quantidadeEstoque">Estoque</label>
							<input id="quantidadeEstoque" type="text" class="form-control  js-plain"
								placeholder="Quantidade em estoque" th:field="*{quantidadeEstoque}" />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group  col-sm-12">
						<input type="hidden" th:field="*{foto}">
						<input type="hidden" th:field="*{contentType}">

						<label class="control-label">Foto</label>
						
						<div class="js-container-foto-produto" th:attr="data-url-fotos=@{/fotos}">
							<div id="upload-drop" class="lj-upload">
								<i class="glyphicon  glyphicon-cloud-upload"></i>
								<span>Arraste a foto aqui ou </span>
								<a class="lj-upload-form-file">selecione
								<input id="upload-select" type="file" accept=".jpg,.jpeg,.png"/></a>.
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>

			</form>
		</div>

		<div th:replace="fabricante/CadastroRapidoFabricante :: modalCadastroRapidoFabricante"></div>		
		<!-- <div th:replace="fornecedor/CadastroRapidoFornecedor :: modalCadastroRapidoFornecedor"></div> -->

		<th:block th:replace="handlebars/FotoProduto"></th:block>
	</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/fabricante.cadastro-rapido.js}"></script>
	<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
	<script th:src="@{/javascripts/vendors/upload.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script th:src="@{/javascripts/produto.upload-foto.js}"></script>
</th:block>

</body>

</html>