<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/LayoutPadrao"
	xmlns:lojinha="http://lojinha.ameridata.com.br/">

<head>
	<title>Pesquisa de produtos</title>
</head>

<body>

	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>Pesquisa de produtos</h1>
					</div>

					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn  btn-default" th:href="@{/produtos/novo}">
								<i class="glyphicon  glyphicon-plus-sign"></i>
								<span class="hidden-xs  hidden-sm">Incluir</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<form method="GET" th:object="${produtoFilter}">
				<div class="row">
					<div class="form-group  col-sm-2">
						<label class="control-label" for="sku">SKU</label>
						<input type="text" class="form-control" id="sku" th:field="*{sku}" autofocus="autofocus" />
					</div>

					<div class="form-group  col-sm-3">
						<label class="control-label" for="sku">GTIN</label>
						<input type="text" class="form-control" id="gtin" th:field="*{gtin}" />
					</div>

					<div class="form-group  col-sm-7">
						<label class="control-label" for="nome">Nome</label>
						<input type="text" class="form-control" id="nome" th:field="*{nome}" />
					</div>
				</div>

				<div class="row">
					<div class="form-group  col-sm-3">
						<label class="control-label" for="fabricante">Fabricante</label>
						<select id="fabricante" class="form-control" th:field="*{fabricante}">
							<option value="">Todos os fabricantes</option>
							<option th:each="fabricante : ${fabricantes}" th:text="${fabricante.nome}"
								th:value="${fabricante.id}">
							</option>
						</select>
					</div>

					<div class="form-group  col-sm-3">
						<label class="control-label" for="fornecedor">Fornecedor</label>
						<select id="fornecedor" class="form-control" th:field="*{fornecedor}">
							<option value="">Todos os fornecedores</option>
							<option th:each="fornecedor : ${fornecedores}" th:text="${fornecedor.nome}"
								th:value="${fornecedor.id}">
							</option>
						</select>
					</div>

					<div class="form-group  col-sm-3">
						<label class="control-label" for="unidade">Unidade</label>
						<select id="unidade" class="form-control" th:field="*{unidade}">
							<option value="">Todos as unidades</option>
							<option th:each="unidade : ${unidades}" th:value="${unidade}"
								th:text="${unidade.descricao}">
							</option>
						</select>
					</div>

					<div class="form-group  col-sm-3">
						<label class="control-label">Origem</label>
						<div>
							<th:block th:each="origem : ${origens}">
								<div class="radio  radio-inline">
									<input th:id="|id_${origem}|" type="radio" th:value="${origem}"
										th:field="*{origem}" />
									<label th:for="|id_${origem}|" th:text="${origem.descricaoAbreviada}">Nac.</label>
								</div>
							</th:block>
							<div class="radio  radio-inline">
								<input id="todasOrigens" type="radio" th:checked="*{origem} == null" name="origem" />
								<label for="todasOrigens">Todas</label>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3  form-group">
						<label for="custoDe">Custo unitário</label>
						<div class="form-inline">
							<input type="text" class="form-control  aw-form-control-inline-sm  js-decimal" id="custoDe"
								th:field="*{custoDe}" />
							<label for="custoAte" class="aw-form-label-between">até</label>
							<input type="text" class="form-control  aw-form-control-inline-sm  js-decimal" id="custoAte"
								th:field="*{custoAte}" />
						</div>
					</div>

					<div class="col-sm-3  form-group">
						<label for="precoDe">Preço de venda</label>
						<div class="form-inline">
							<input type="text" class="form-control  aw-form-control-inline-sm  js-decimal" id="precoDe"
								th:field="*{precoDe}" />
							<label for="precoAte" class="aw-form-label-between">até</label>
							<input type="text" class="form-control  aw-form-control-inline-sm  js-decimal" id="precoAte"
								th:field="*{precoAte}" />
						</div>
					</div>

					<div class="col-sm-3  form-group">
						<label for="comissaoDe">Comissão</label>
						<div class="form-inline">
							<input type="text" class="form-control  aw-form-control-inline-sm  js-decimal"
								id="comissaoDe" th:field="*{comissaoDe}" />
							<label for="comissaoAte" class="aw-form-label-between">até</label>
							<input type="text" class="form-control  aw-form-control-inline-sm  js-decimal"
								id="comissaoAte" th:field="*{comissaoAte}" />
						</div>
					</div>

					<div class="col-sm-3  form-group">
						<label for="estoqueDe">Estoque</label>
						<div class="form-inline">
							<input type="text" class="form-control  aw-form-control-inline-sm  js-plain" id="estoqueDe"
								th:field="*{estoqueDe}" />
							<label for="estoqueAte" class="aw-form-label-between">até</label>
							<input type="text" class="form-control  aw-form-control-inline-sm  js-plain" id="estoqueAte"
								th:field="*{estoqueAte}" />
						</div>
					</div>
				</div>

				<button type="submit" class="btn btn-success">Pesquisar</button>
				<a class="btn btn-primary" th:href="@{/produtos/}" role="button">Limpar</a>
			</form>

			<div class="table-responsive  lj-tabela-simples">
				<table class="table  table-hover">
					<thead>
						<tr>
							<th class="table-produtos-col-foto" id="foto"></th>
							<th class="table-produtos-col-sku" id="sku">
								<!-- <th:block th:replace="fragments/Ordenacao :: order(${pagina}, 'sku', 'SKU')"></th:block> -->
								<lojinha:order page="${pagina}" field="sku" text="SKU"/>
							</th>
							<th class="table-produtos-col-gtin" id="gtin">GTIN</th>
							<th class="table-produtos-col-nome" id="nome">
								<th:block th:replace="fragments/Ordenacao :: order(${pagina}, 'nome', 'Nome')"></th:block>
								
								<!--  <a th:href="${pagina.urlOrdenada('nome')}" th:remove="${pagina.vazia} ? tag">
									<span>Nome</span>
									<span class="dropup" th:remove="${pagina.descendente('nome')} ? tag" 
										th:if="${pagina.ordenada('nome')}">
										<span class="caret">
										</span>
									</span>
								</a>  -->
							</th>
							<th class="table-produtos-col-fabricante" id="fabricante">Fabricante</th>
							<th class="table-produtos-col-fornecedor" id="fornecedor">Fornecedor</th>
							<th class="table-produtos-col-unidade" id="unidade">Unidade</th>
							<th class="table-produtos-col-origem" id="origem">Origem</th>
							<th class="table-produtos-col-custoUnitario" id="custoUnitario">Custo unitário</th>
							<th class="table-produtos-col-precoVenda" id="precoVenda">Preço de venda</th>
							<th class="table-produtos-col-comissao" id="comissao">Comissão</th>
							<th class="table-produtos-col-estoque" id="estoque">Estoque</th>
							<th class="table-produtos-col-acoes" id="acoes"></th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="produto : ${pagina.conteudo}">
							<td class="text-center">
								<img th:src="@{/fotos/thumbnail.{foto}(foto=${produto.FotoOrNoImageIcon})}"
									class="img-responsive" th:alt="${produto.sku}"/>
							</td>
							<!-- <td class="text-center" th:text="${produto.sku}">SKU</td> -->
							<td th:text="${produto.sku}">SKU</td>
							<td th:text="${produto.gtin}">GTIN</td>
							<td th:text="${produto.nome}">Nome</td>
							<td th:text="${produto.fabricante.nome}">Fabricante</td>
							<td th:text="${produto.fornecedor.nome}">Fornecedor</td>
							<td th:text="${produto.unidade.descricao}">Unidade</td>
							<td th:text="${produto.origem.descricao}">Origem</td>
							<td class="text-right" th:text="|R$ ${produto.custoUnitario}|">R$ 0,00</td>
							<td class="text-right" th:text="|R$ ${produto.precoVenda}|">R$ 0,00</td>
							<td class="text-right" th:text="|${produto.comissao} %|">0,00 %</td>
							<td class="text-right" th:text="|${produto.quantidadeEstoque}|">0,00</td>
							<td class="text-center">
								<a class="btn  btn-link  btn-xs" title="Editar">
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
								<a class="btn  btn-link  btn-xs" title="Excluir">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td>
						</tr>

						<tr th:if="${pagina.vazia}">
							<td colspan="13">Nenhum produto encontrado</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-sm-12  text-center" th:if="${not #lists.isEmpty(pagina.conteudo)}">
				<nav>
					<ul class="pagination  pagination-sm" th:with="paginaAtual=${pagina.Atual}">
						<li th:class="${pagina.primeira} ? disabled">
							<a th:href="${pagina.urlParaPagina(paginaAtual - 1)}" th:remove="${pagina.primeira} ? tag">
								<span>&laquo;</span>
							</a>
						</li>
						
						<th:block th:each="p : ${#numbers.sequence(1, pagina.total)}" th:with="numeroPagina=${p - 1}">
							<li th:class="${paginaAtual == numeroPagina} ? active">
								<!-- <a th:href="|?page=${numeroPagina}|">[[${p}]]</a> -->
								<a th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a>
							</li>
						</th:block>
						 
						<li th:class="${pagina.ultima} ? disabled">
							<a th:href="${pagina.urlParaPagina(paginaAtual + 1)}" th:remove="${pagina.ultima} ? tag">
								<span>&raquo;</span>
							</a>
						</li> 
					</ul>
				</nav>
			</div>

		</div>

	</section>

</body>

</html>
